---
---

@import "{{ site.theme }}";

/* Site header */
#header_wrap header {
    padding: 10px;
    #project_tagline { display: none; }
}

/* Song */
article.song {
    font-size: 18pt;
    white-space: pre-line;

    h3 {
        text-transform: uppercase;
        font-weight: bolder;
        white-space: normal;
        margin: 5px 0 0 0;
    }

}

